* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
.hero {
  width: 80%;
  margin: auto;
}

.navbar {
  margin: 30px auto;
  display: flex;
  align-items: center;
}

ul {
  flex-grow: 1;
  text-align: right;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

ul li a {
  text-decoration: none;
  color: rgb(49, 146, 60);
  padding: 0 10px;
  position: relative;
}

ul li a::after {
  content: "";
  width: 0%;
  transition: 0.5s;
  height: 3px;
  background: rgb(2, 169, 60);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

ul li a:hover::after {
  width: 100%;
}
